<%# views/bookmarks/new.html.erb %>
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="text-center" style="max-width: 400px; width: 100%;">
    <h3>Add a movie to your <%= @list.name %> list</h3>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
      <%= f.association :movie, prompt: "Select a movie" %>
      <%= f.submit "Add movie" %>
    <% end %>
  </div>
</div>
